textarea:focus, input:focus{
    outline: none;
}

input, textarea, select {
    font-size: 14px;
    font-family: serif;
}

button{
    font-family: serif;
    font-size: 13px;
}

textarea {
    resize: vertical;
}


.add_button_box {
    position: absolute;
    right:12%;
    bottom: 10%;
}

.add_button {
    width: 40%;
}

.add_button:hover{
    display: block;
}

.message_box{
    position: absolute;
    right:8px;
    top: 140px;
    background: black;
    border-style: none;
    color: white;
    text-align: center;
    box-shadow: 4px 7px 17px 1px #999999;
    opacity: 0.8;
    padding: 5px;
    height: 80px;
    width: 270px;
}

.mes {
    margin-top: 30px;
}

.button {
    background-color: #555555;
    width: 275px;
    height: 24px;
    margin: 2px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.little_button{
    background-color: #555555;
    width: 150px;
    height: 26px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.little_button:hover{
    background-color: deeppink;
}

.button:hover {
    background-color: deeppink;
}

.button:disabled{
    background: grey;
}

.button:disabled:hover{
    background: grey;
}

.button-fix {
    background-color: #555555;
    width: 106px;
    height: 12px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.button-fix:hover {
    background-color: deeppink;
}

.side-button{
    margin: 10px;
    text-align: center;
}

.error_bar{
    margin-bottom: 15px;
    text-align: center;
}

.error_bar li {
    color: red;
    font-size: 16px;
}

.input_text {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #555555;
}

.input_text:hover {
    border-bottom: 2px solid deeppink;
}

.list_ref{
    color: black;
    text-decoration: none;
}

.list_ref:hover {
    text-decoration: underline;
    color: deeppink;
}

.small_icon{
    margin-left: 2%;
    margin-right: 5%;
    width: 18px;
}

.litel_icon{
    margin-right: 5%;
    width: 13px;
}

.selector {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 70%;
    height:40px;
    margin-left:15%;
}

.selector li {
    float: right;
}

.selector li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.selector li a:hover {
    background-color: deeppink;
}

.authorization {
    margin-top: 16%;
    width:500px;
    margin-right: auto;
    margin-left: auto;
    min-height: 210px;
    font-size: 13px;
    background: white;
    box-shadow: 4px 7px 17px 1px #999999;
    border-radius: 3px;
}

.authorization_data {
    text-align: center;
    padding: 20px;
    padding-bottom: 4px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(68,68,68);
}

.input_text_auth {
    width: 275px;
    text-align: center;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #555555;
}
.input_text_auth:hover {
    border-bottom: 2px solid deeppink;
}

.add_task{
    width:500px;
    height-min: 210px;
    margin-top: 12%;
    margin-right: auto;
    margin-left: auto;
    min-height: 210px;
    font-size: 13px;
    background: white;
    box-shadow: 4px 7px 17px 1px #999999;
    border-radius: 3px;
}

.add_task_data {
    text-align: center;
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(68,68,68);
}

.input_text_add {
    width: 265px;
    text-align: left;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #555555;
}

.input_text_add:hover {
    border-bottom: 2px solid deeppink;
}

.register {
    margin-top: 8%;
    width:500px;
    padding-top: 10px;
    padding-bottom: 4px;
    min-height: 210px;
    height-min: 440px;
    margin-right: auto;
    margin-left: auto;
    font-size: 13px;
    text-align:center;
    background: white;
    box-shadow: 4px 7px 17px 1px #999999;
    border-radius: 3px;
}

.button_reg {
    background-color: #555555;
    width: 130px;
    height: 24px;
    margin: 1px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}
.button_reg:hover {
    background-color: deeppink;
}

.button_reg:disabled{
    background: grey;
}

.button:disabled:hover{
    background: grey;
}

.button-fix_reg {
    background-color: #555555;
    width: 260px;
    height: 18px;
    margin: 2px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.button-fix_reg:hover {
    background-color: deeppink;
}

.register_data {
    text-align: left;
    width:480px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 1px;
    padding-bottom: 5px;

    font-size: 13px;
    font-weight: bold;
    color: rgb(68,68,68);
}

.input_text_reg {
    width: 170px;
    text-align: left;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #555555;
}
.input_text_reg:hover {
    border-bottom: 2px solid deeppink;
}