body {background:lightgray}

.header {
    width: 100%;
    height: 80px;
    background: rgb(70, 64, 72);
    box-shadow: 4px 7px 17px 1px #000000;
}
.pages {
}
.data-table{
    border: 0px;
    text-align: right;
    margin-left: 10%;
    color: black;
}
.content {
    margin-left:10px;
    width: 80%;
    height:auto;
    border:1px solid #000000;
    background:white;
    float:left;
    box-shadow: 4px 7px 17px 1px #000000;
}
.button {
    background-color: #555555;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.button:hover {
    background-color: deeppink;
}
.login {
    text-align: center;
    padding: 20px;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgb(68,68,68);
}
.authorization {
    width:500px;
    margin: 0 auto;
    padding:10px;
    height: 210px;
    font-size: 12px;
    background: white;
    box-shadow: 4px 7px 17px 1px #999999;
    border-radius: 3px;
}

.input_text {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #555555;
}

.input_text:hover {
    border-bottom: 2px solid deeppink;
}