body {background:lightgray}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-bottom: 10px;
}

span {
    display: inline-block;
    width: 160px;
    text-align: left;
    margin-bottom: 10px;
}

input {
    width: 170px;
    text-align: left;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #555555;
}

.header {
    width: 100%;
    height: 80px;
    background: black;
    box-shadow: 4px 7px 17px 1px #999999;
}

.pages {
}

.data-table{
    border: 0px;
    margin-left:20px;
    text-align: right;
    color: black;
}

.errorMessage{
    width: 480px;
    height: auto;
    height-min: 140px;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    font-size: 12px;
    text-align: center;
    background: white;
    box-shadow: 1px 1px 14px 2px #ff1213;
    border-radius: 3px;
}

.inputRed{
    width: 170px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

.inputGreen{
    width: 170px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid green;
}

.select-box {
    background-color: white;
    border: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #555555;
    color: black;
    height: 26px;
    width: 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.select-box:hover {
    border-bottom: 2px solid deeppink;
}

.select-box_add {
    background-color: white;
    border: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #555555;
    color: black;
    height: 26px;
    width: 265px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.select-box_add:hover{
    border-bottom: 2px solid deeppink;
}